<div class="container">
    <div class="row">
        <h2>Caption hover effect </h2>
        <p>Image caption with a text previewed in the bottom</p>
        <p>Width size doesn´t matter</p>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                <p style="text-align:center; margin-top:20px;">
                    <img src="http://trovacamporella.com/img/trovacamporella-fiat500.png" class="img-responsive" alt="">
                </p>
                <div class="caption">
                    <div class="blur"></div>
                    <div class="caption-text">
                        <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">THIS IS H3</h3>
                        <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                        <a class=" btn btn-default" href="http://trovacamporella.com"><span class="glyphicon glyphicon-plus"> INFO</span></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                <p style="text-align:center; margin-top:20px;">
                    <img src="http://placehold.it/500x330" class="img-responsive" alt="">
                </p>
                <div class="caption">
                    <div class="blur"></div>
                    <div class="caption-text">
                        <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">THIS IS H3</h3>
                        <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                        <a class=" btn btn-default" href="http://mispicaderos.com"><span class="glyphicon glyphicon-plus"> INFO</span></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                <p style="text-align:center; margin-top:20px;">
                    <img src="http://placehold.it/300x330" class="img-responsive" alt="">
                </p>
                <div class="caption">
                    <div class="blur"></div>
                    <div class="caption-text">
                        <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">THIS IS H3</h3>
                        <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                        <a class=" btn btn-default" href="http://mispicaderos.com"><span class="glyphicon glyphicon-plus"> INFO</span></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                <p style="text-align:center; margin-top:20px;">
                    <img src="http://placehold.it/1000x330" class="img-responsive" alt="">
                </p>
                <div class="caption">
                    <div class="blur"></div>
                    <div class="caption-text">
                        <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">THIS IS H3</h3>
                        <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                        <a class=" btn btn-default" href="http://placesforlove.com"><span class="glyphicon glyphicon-plus"> INFO</span></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


</div>